section#contact-page {
  background: #f4f4f4;
  height: 80vh;
}
input {
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
textarea {
  width: 100%;
  resize: none;
  padding: 2rem 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
input[type="text"]:focus,
input[type="email"]:focus {
  border: 5px solid rgba(0, 0, 0, 0.3);
  outline: none;
}
textarea:focus {
  border: 5px solid rgba(0, 0, 0, 0.3);
  outline: none;
}

input[type="text"],
input[type="email"] {
  padding: 0.3rem;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
input[type="submit"] {
  border: none;
  padding: 1rem 0;
  color: #fff;
  background: var(--bg-dark);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}
input[type="submit"]:hover {
  background: rgb(29, 28, 28);
}
label {
  color: var(--text-muted);
}

input.valid {
  border-color: #36cc36 !important;
  border-width: 3px;
}
input.invalid {
  border-color: orange !important;
  border-width: 3px;
}

.form-wrapper {
  background: #fff;
  padding: 2rem;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}
.form-wrapper h2 {
  text-align: center;
}
label,
input[type="submit"] {
  display: block;
  margin-top: 1.5vh;
}
/* FOOTER STYLING SECTION */
footer {
  background: var(--bg-dark);
  height: 10vh;
}
.footer-wrap {
  color: #fff;
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.footer-wrap p {
  font-size: 0.8rem;
  text-align: center;
}
.footer-wrap i {
  font-size: 2rem;
  cursor: pointer;
}
.footer-wrap i:hover {
  color: #ddd;
}
@media screen and (max-width: 850px) {
  .footer-wrap i {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .footer-wrap p {
    font-size: 0.5rem;
  }
}
